

//parameters for pipeline

params{

debug=true
csv_in=null
outdir="result"

}


//tools configuration
// default run resource parameters 
process {

withName: 'pA' {
        cpus    = 4
        memory  = 2.GB
  }


withName: 'pB' {
        cpus    = 1
        memory  = 1.GB
  }

withName: 'pC' {
        cpus    = 5
        memory  = 1.GB
  }

}

//Profiles
profiles {
    kutral {
        singularity.enabled    = true
        singularity.autoMounts = true
	singularity.runOptions = ' --bind /mnt/beegfs/labs/ '
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
	process.executor = 'slurm'		
	process.queue = 'uohhm'		
    }
    local {
	
    }
} 

//trace data

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}


manifest {
    defaultBranch = 'main'
    homePage = 'ejemplo1.nf'
    author = 'Alumn@s'
    version = '0.0.1'
}
